gunicorn

flask
PyPDF2
transformers

blinker==1.9.0
breadability==0.1.20
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
docopt==0.6.2
Flask==3.1.1
fpdf==1.7.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
lxml==5.4.0
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.2.6
pycountry==24.6.1
PyMuPDF==1.26.0
regex==2024.11.6
requests==2.32.3
sumy==0.11.0
tqdm==4.67.1
urllib3==2.4.0
Werkzeug==3.1.3
